<div class="share">
  <div class="shareon">
    <a class="facebook"></a>
    <a class="linkedin"></a>
    <a class="mastodon" data-via="{{ $.Site.Params.Mastodon.site }}"></a>
    <a class="pocket"></a>
    <a class="reddit"></a>
    <a class="twitter" data-via="{{ $.Site.Params.Twitter.site }}"></a>
  </div>
</div>

<div class="donate">
  <a class="donate-with-crypto"
    href="https://commerce.coinbase.com/checkout/494ae8a5-bf9f-45ac-9e22-6bf22fb91e9a">
    Donate with Crypto
  </a>
  <script src="https://commerce.coinbase.com/v1/checkout.js?version=201807">
  </script>
</div>
