<div class="share">
  <div class="shareon">
    <a class="facebook" title="Share on Facebook"></a>
    <a class="linkedin" title="Share on LinkedIn"></a>
    <a class="mastodon" title="Share on Mastodon" data-via="{{ $.Site.Params.Mastodon.site }}"></a>
    <a class="pocket" title="Save to Pocket"></a>
    <a class="reddit" title="Share on Reddit"></a>
    <a class="twitter" title="Share on Twitter" data-via="{{ $.Site.Params.Twitter.site }}"></a>
  </div>
</div>

<div class="donate">
  <a class="donate-with-crypto" href="https://commerce.coinbase.com/checkout/494ae8a5-bf9f-45ac-9e22-6bf22fb91e9a">
    Donate with Crypto
  </a>
  <script defer src="https://commerce.coinbase.com/v1/checkout.js?version=201807"></script>
</div>