<div class="share">
  <div class="shareon">
    <a
      class="bluesky"
      title="Share on Bluesky"
      aria-label="Share on Bluesky"
    ></a>
    <a
      class="facebook"
      title="Share on Facebook"
      aria-label="Share on Facebook"
    ></a>
    <a
      class="hackernews"
      title="Share on Hacker News"
      aria-label="Share on Hacker News"
    ></a>
    <a
      class="mastodon"
      title="Share on Mastodon"
      aria-label="Share on Mastodon"
      data-via="{{ $.Site.Params.Mastodon.site }}"
    ></a>
    <a class="reddit" title="Share on Reddit" aria-label="Share on Reddit"></a>
    <a
      class="x"
      title="Share on X"
      aria-label="Share on X"
      data-via="{{ $.Site.Params.Twitter.site }}"
    ></a>
  </div>
</div>
